<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div style="margin: 4rem auto 0 auto; width: 1280px;">
    <h1>Editing/updating</h1>
    <form action="/updateForm/<%= singleData.id %>?_method=PATCH" method="POST">
      <label for="username">username</label>
      <input type="text" id="username" name="username" placeholder="username" value=<%=singleData.username%>> <br>

      <label for="post">Post</label>
      <input type="text" id="post" name="post" placeholder="post" value=<%=singleData.detail%>> <br>
      <label for="Detail">Detail</label>
      <textarea id="Detail" name="detail" placeholder="Detail" cols="30" rows="5"
        value=<%=singleData.detail%>></textarea>
      <button>Submit</button>

    </form>
  </div>

  <%=JSON.stringify(singleData)%>
</body>

</html>