<% layout('layouts/boilerplate') %>
  <div class="row">
    <h1 class="text-center">Edit Campground</h1>
    <div class="col-6 offset-3">

      <form action="/campgrounds/<%=campDetail._id %>?_method=PUT" method="POST"novalidate class="needs-validation">
        <div class="mb-3">
          <label for="title" id="title" class="form-label">Title:</label>
          <input required class="form-control" type="text" placeholder="title" id="title" name="campground[title]"
            value="<%=campDetail.title%>" id="validationCustom01">
          <div class=" valid-feedback">looks good!
          </div>
        </div>
        <div class="mb-3">
          <label for="location" id="location" class="form-label">Location:</label>
          <input required class="form-control" type="text" placeholder="location" id="location"
            name="campground[location]" value="<%=campDetail.location%>" id="validationCustom02">
          <div class=" valid-feedback">looks good!
          </div>
        </div>
        <div class="mb-3">
          <label for="image" id="image" class="form-label">Image Url:</label>
          <input required class="form-control" type="text" placeholder="img url" id="image" name="campground[image]"
            value="<%=campDetail.image%>" id="validationCustom03">
          <div class=" valid-feedback">looks good!
          </div>
        </div>

        <div class="mb-3">
          <label for="price" class="form-label">Campground Price</label>
          <div class="input-group">
            <span class="input-group-text" id="price-label">$</span>
            <input required type="text" class="form-control" id="price" placeholder="0.0" aria-label="price-label"
              aria-describedby="price-label" name="campground[price]" value="<%=campDetail.price%>"
              id="validationCustom04">
            <div class=" valid-feedback">looks good!
            </div>
          </div>
        </div>
        <div class=" mb-3">
          <label for="description" id="description" class="form-label">Description</label>
          <textarea required class="form-control" type="text" placeholder="description" id="description"
            name="campground[description]" id="validationCustom05"><%=campDetail.description%></textarea>
          <div class=" valid-feedback">looks good!
          </div>
        </div>
        <div class="mb-3">
          <button type="submit" class="btn btn-info text-light">Update Campground</button>
        </div>
      </form>
      <a href="/campgrounds/<%=campDetail._id %>">Back to Campground</a>

    </div>
  </div>

  